<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" type="text/css" href="/styles/home/desktop.css">
        <link rel="stylesheet" type="text/css" href="/styles/home/mobile.css">
        <link rel="stylesheet" type="text/css" href="/styles/home/tablet.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
      
    </head>
    <body>

        <nav class="navbar-wrapper">
            <div class="nav-left"><span style="font-weight: bold;font-size: 20px;">SkillsMkt</span><span style="color: #3FA2F6;font-weight: bold;font-size: 25px"> .</span></div>
            <div class="nav-right">
                <div class="pro">Skills Pro &#x2B63;</div>
                <div class="explore">Explore &#x2B63;</div>
                <a href="/signin" style="text-decoration: none;" class="sign-in">
                    <div class="sign-in">Sign in</div>
                </a>
                <a href="/signup">
                    <div class="join">Join</div>

                </a>
            </div>
        </nav>

        <div class="hero-container">
            <div class="hero-background-wrapper">
                <div class="hero-left">
                    <div class="hero-badge">COMING IN BETA</div>
                    <div class="text-highlighted">Get it done</div>
                    <div class="text-unhighlighted">freelance talent<br>unparalleled skills</div>
                    <div class="hero-blurb">
                        Start your project today with only the top-rated, verified freelancers, and experience seamless collaboration with industry-leaders.
                    </div>
                    <div class="hero-buttons-container">
                        <span>
                            <button class="hero-buttons-left">Discover talent</button>
                        </span>
                        <span>
                            <button class="hero-buttons-right">Get early access</button>
                        </span>
                    </div>
                </div>
                <div class="hero-right">
                    <div class="hero-blob-purple">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
                            <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
                            </svg>
                          
                    </div>
                    <div class="hero-blob-pink">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
                            <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
                            </svg>
                          
                    </div>
                    <div class="hero-right-image">
                        <img src="/images/dash.png" alt="">

                    </div>
                </div>

            </div>

            <div class="clients-container">
                <div class="clients-text">Our trusted partners</div>
                <div class="clients-wrapper">
                    <div class="blur left"></div>
                    <div class="blur right"></div>
                    <div class="clients-logo-container">
                        <img src="/images/coke.svg" alt="Logo 1" class="clients-logo" id="clients-logo">
                        <img src="/images/heineken.svg" alt="Logo 2" class="clients-logo">
                        <img src="/images/microsoft.svg" alt="Logo 3" class="clients-logo">
                        <img src="/images/google.svg" alt="Logo 4" class="clients-logo">
                        <img src="/images/netflix.svg" alt="Logo 5" class="clients-logo">
                        <img src="/images/mastercard.svg" alt="Logo 5" class="clients-logo">
                        <img src="/images/salesforce.svg" alt="Logo 5" class="clients-logo">
                        <img src="/images/paypal.svg" alt="Logo 5" class="clients-logo">
                    
                    </div>
                
                </div>
        
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script src="/js/gsap.js"></script>
        
    </body>
</html>